<?xml version="1.0"?>
<robot name="two_wheel_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
            <!-- hardware interface -->

  <ros2_control type="system" name="RobotSystem">
    <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="wheel_right_joint">
        <!-- command_interface use to send commend to the robot -->
        <command_interface name="velocity">
        <!-- limit the velocity one radions per second -->    
            <param name="min">-1</param>
            <param name="man">-1</param>
        </command_interface>
        <!-- state_interface use to read data from the robot -->
        <state_interface name="position"/>
        <state_interface name="velocity"/>
    </joint>
    <joint name="wheel_left_joint">
        <!-- command_interface use to send commend to the robot -->
        <command_interface name="velocity">
        <!-- limit the velocity one radions per second -->    
            <param name="min">-1</param>
            <param name="man">-1</param>
        </command_interface>
        <!-- state_interface use to read data from the robot -->
        <state_interface name="position"/>
        <state_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>
